[user]
  email = david.w.millar@gmail.com
  name = David W Millar
[core]
  editor = vim
  autocrlf = input
[color]
  ui = true
[alias]
  serve = !git daemon --reuseaddr --verbose --base-path=. --export-all ./.git
[credential]
  helper = cache
[github]
  user = david-w-millar
[hub]
  protocol = https
[push]
	default = simple
